.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 58px;
  height: 626px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 7px;
    margin-bottom: 43px;
    height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-image-1 {
    height: 387px;
    width: 709px;
    margin: 12px auto 11px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-image-1 {
    height: 312px;
    width: 538px;
    margin-top: 24px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .u-image-1 {
    height: 197px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 887px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: "Tiro Tamil";
  width: 803px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Tiro Tamil";
  width: 803px;
  margin: 35px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 33px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 1.125rem;
    margin-bottom: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 125px;
}

.u-section-3 .u-text-1 {
  width: 442px;
  font-style: italic;
  line-height: 1.6;
  margin: 0 auto 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    height: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}