.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 58px;
  height: 626px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1755px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1861px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1856px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2087px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  font-weight: 700;
  font-family: "Tiro Tamil";
  margin: 59px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 803px;
  font-family: "Tiro Tamil";
  margin: 29px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 139px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  width: 442px;
  margin: 0 auto 4px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    height: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}